.sectionAbout
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row

  section
    border: 1px solid rgb(51 211 153)
    background-color: #111821
    border-radius: 5px
    display: flex
    justify-content: center
    padding-top: 3rem
    padding-bottom: 3rem
    padding-left: 5rem
    padding-right: 5rem


.aboutImg
  margin: 0
  padding: 0
  width: 100%
 
.aboutDescription
  display: flex
  justify-content: center
  flex-direction: column

  h2
    font-family: var(--font-space)
    color: rgb(52 211 153)
    font-weight: 300
    font-size: 20px
    margin-bottom: 1rem

  p
    font-family: var(--font-space)
    font-weight: 100
    font-size: 15px
    width: 30vw

.abountContent
  display: flex
  justify-content: center
  flex-direction: column


.aboutButton
  display: flex
  justify-content: space-between
  flex-direction: row
  margin-top: 1rem
  padding: 0
  width: 30vw

  // a:first-child
  //   border: 1px solid #000
  //   padding: 0.5rem
  //   background-color: rgb(52 211 153)
  //   border-radius: 5px

  // a:nth-child(2)
  //   border: 1px solid #000
  //   padding: 0.5rem


.contacts
  height: 100%
  width: 100%