.experience-container
  display: grid
  grid-template-columns: 40px 1fr
  gap: 1rem
  

.experience
  display: flex
  flex-direction: column
  gap: 1rem


.text-container
  display: flex
  flex-direction: column
  gap: 0.5rem
  font-size: 0.875rem
  line-height: 1.25rem
  align-items: flex-start



.line
  width: 5px
  height: 170px
  background-color: rgb(52 211 153)

.techBadge
  display: flex
  justify-content: space-between
  margin-top: 10px

