.project-card
  display: flex
  justify-content: flex-start
  align-content: flex-start
  margin: 0
  padding: 0


.main-content
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start



@media (min-width: 768px)
  div
    max-width: 1200px



.tech-badge
  display: flex
  align-items: flex-start
  justify-content: flex-start
  gap: 2rem

  