.project-card
  display: flex
  justify-content: flex-start
  align-content: flex-start
  margin: 0
  padding: 0

  
  
  
// // .project-card
// //   display: flex
// //   flex-direction: row
// //   gap: 7rem
// //   width: 1200px

// // .image-class
// //   object-fit: cover
// //   border-radius: 0.3rem

// // .main-content
// //   display: flex
// //   align-items: center
// //   justify-content: center
// //   flex-direction: column
// //   max-width: 1200px

// //   h3
// //     font-family: var(--font-space)
// //     display: flex
// //     align-items: center
// //     gap: 0.75rem
// //     font-weight: 500
// //     font-size: 1.125rem
// //     color: #d1d5db

// //   p
// //     font-family: var(--font-space)
// //     font-size: 0.8rem
// //     color: #9ca3af

// // .tech-badge
// //   display: flex
// //   flex-wrap: wrap
// //   margin-bottom: 2rem
// //   max-width: 350px
// //   justify-content: space-between

// .project-card 
//   display: flex


// .main-content 
//   flex-grow: 1
//   max-width: 700px
//   display: flex
//   flex-direction: column

//   h3 
//     font-family: var(--font-space)
//     display: flex
//     align-items: center
//     gap: 0.75rem
//     font-weight: 500
//     font-size: 1.125rem
//     color: #d1d5db


//   p 
//     font-family: var(--font-space)
//     font-size: 0.8rem
//     color: #9ca3af


// .image-class 
//   object-fit: cover
//   border-radius: 0.3rem
  

// .tech-badge 
//   display: flex
//   flex-wrap: wrap
//   margin-bottom: 2rem
//   max-width: 350px
//   justify-content: space-between
