.project-card
  display: flex
  justify-content: flex-start
  align-content: flex-start
  margin: 0
  padding: 0


.main-content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center


@media (min-width: 768px)
  div
    max-width: 1200px



.tech-badge
  display: flex
  justify-content: space-between